@model Book
@{
    ViewBag.Title = "Details of Authors";
}

<div class="row">

    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="/Book/BookImage/@Model.Id" width="100%" height="80%" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Publisher:</b>
                            <a asp-controller="Publisher" asp-action="Details" asp-route-id="@Model.PublisherId">@Model.Publisher.Name</a>
                        </p>
                        <p class="card-text"> <b>Category:</b> @Model.BookCategory.ToString()</p>
                        <p class="card-text"> <b>Edition Date:</b> @Model.EdititonDate.ToString("yyyy MMMM")</p>
                        <p class="card-text">
                            <b>Status:</b>
                            @if (DateTime.Now - @Model.EdititonDate >= TimeSpan.FromDays(3))
                            {
                                <span class="badge bg-success text-white">AVAILABLE</span>
                            }
                            else
                            {
                                <span class="badge bg-info text-white">SOON</span>

                            }
                        </p>
                        <p class="card-tex">
                            <b>Authors: </b>
                            <hr />
                            <div class="row">
                                @foreach (var author_Book in Model.Author_Books)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="/Author/AuthorImage/@author_Book.Author.Id" style="max-width:200px" />
                                        <br />
                                        <a asp-controller="Author" asp-action="Details" asp-route-id="@author_Book.AuthorId">@author_Book.Author.FullName</a>
                                    </div>
                                }
                            </div>
                        </p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-rigth" asp-action="Index">
                                <i class="bi bi-eye-fill"></i>
                                Back To List
                            </a>
                            <a class="btn btn-success text-white @((DateTime.Now - @Model.EdititonDate >= TimeSpan.FromDays(200)) ? "":"disabled")"
                               asp-controller="Orders" asp-action="AddItemToShoppingCart"
                               asp-route-id="@Model.Id">
                                <i class="bi bi-cart-plus"></i>Add To Cart ($@Model.Price.ToString())
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>